{{!-- Include main layout --}}
{{> main}}

{{!-- Main content --}}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Welcome to Fitness Progress Tracker</h1>
            <p>Track your workouts and progress with ease!</p>
            <div class="mt-4 mb-4">
                <a href="../public/login.html" class="btn btn-primary">Login</a>
                <a href="../public/signup.html" class="btn btn-secondary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
