<div class="workout-card card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{type}}</h5>
    <p class="card-text">Duration: {{duration}} minutes</p>
    <p class="card-text">Calories Burned: {{caloriesBurned}}</p>
  </div>
</div>
